@model FormManagementWebApp.Models.Domain.Form

@{
    ViewBag.Title = "Form Details";
    Layout = "_Layout";
}

<h2>Form Details</h2>

<dl class="row">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@Model.Id</dd>

    <dt class="col-sm-3">Form Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.Description</dd>

    <dt class="col-sm-3">Created Date</dt>
    <dd class="col-sm-9">@Model.CreatedAt.ToString("yyyy-MM-dd")</dd>

    <dt class="col-sm-3">Created By</dt>
    <dd class="col-sm-9">@Model.CreatedBy</dd>

    <dt class="col-sm-3">Fields</dt>
    <dd class="col-sm-9">
        <ul>
            @foreach (var field in Model.Fields)
            {
                <li>@field.Name: @field.DataType</li>
            }
        </ul>
    </dd>
</dl>

<a class="btn btn-secondary" asp-action="Form">Geri</a>