@model FormManagementWebApp.Models.Domain.Form

@{
    ViewData["Title"] = "Form Details";
}

<h1>Form Details</h1>

<div>
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <p>Created At: @Model.CreatedAt</p>
    <p>Created By: @Model.CreatedBy</p>

    <h3>Fields</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Data Type</th>
                <th>Required</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var field in Model.Fields)
            {
                <tr>
                    <td>@field.Name</td>
                    <td>@field.DataType</td>
                    <td>@field.Required</td>
                </tr>
            }
        </tbody>
    </table>
</div>
